/*
Challenge:
1. Center the text and button
2. Style the button according to the design.
   Use a class to select the button.
*/

#hero{
    /* occupy most of the viewport */
    /*min-height: 80vh; */

    display: flex;
    flex-direction: column;
    align-items: center;       /* center horizontally */
    justify-content: center;   /* center vertically */

    padding: 10px 0 40px 0;
    color: #82a5ca;
    text-align: center;
    font-family: "orbitron", sans-serif;
    font-size: x-large;

}

#title{
    text-shadow: 0px 0px 4px black;
}
body {
    margin:0;
    /*margin-top: 300px;
    margin-bottom: 300px;*/
    background-image: url("images/galaxy.webp");
    /*background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZTk0eDgzZDN4N2lmbjBtenQ3c3Fycm83OXJjNHJpYzlsYnQ4aGF6OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1oC97Y22Gv0BpDEgHj/giphy.gif");
    this link is copied by left clicking on gif and copying image address
    */
    background-size: cover;


}

.btn {
    width: 120px;
    padding: 10px 0;
    font-size: medium;
    font-weight: bold;
    color: #82a5ca;
    background-color: black;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    margin-top: 20px; /* space below the title */
}

.btn:hover {
    transform: scale(1.05);
    background-color: black;
    color: white;
}



.orbitron-body {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    text-decoration-color: #82a5ca;
}


#mainlogo{
    text-align: center;
    width: 200px;
}

#tnc {
    width: 100%;
    background-color: white;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    padding: 20px 0;
    color: #82a5ca;
}


